/*--------------------------------------------------
LE DANG BAO HOANG - 1312210
STYLE
---------------------------------------------------*/

/*--------------------------------------------------
COMMON
---------------------------------------------------*/
html,body
{
	width: 100%;
	margin: 0;
    overflow-x: hidden; 
}

.body {
	margin-top: 60px;
	margin-bottom: 50px;
}

form {
  display: none;
}

.label p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform: uppercase;
	font-size: 2vw;
	float: left;
	padding: 1% 1% 1% 4%;
	text-align: center;
    background: #18bc9c;
    color: #fff;
}
/*--------------------------------------------------
BANNER
---------------------------------------------------*/
.banner {
	width: 100%;
}

/*--------------------------------------------------
NAVBAR
---------------------------------------------------*/
@media (max-width: 480px) {
	.navbar {
		font-size: 10px;
		padding-left: 2px;
		padding-right: 2px;
		padding-top: 2px;
	}
}

.navbar {
	position: absolute;
	background-color: #18bc9c;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 50px;
	width: 100%;
}

.navbar ul li {
	display: inline-block;
	position: relative;
	
}

.navbar ul li a {
	color: #2c3e50;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	padding: 15px;
}

.navbar ul li a:hover{
	background-color: white;
}

.icon-bar {
	color: white;
	background-color: white;
}

/*--------------------------------------------------
FOOTER
---------------------------------------------------*/
.footer {
	background-color: #18bc9c;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 50px;
	width: 100%;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
	height: auto;
}