/*--------------------------------------------------
LE DANG BAO HOANG - 1312210
STYLE
---------------------------------------------------*/

/*--------------------------------------------------
COMMON
---------------------------------------------------*/
html,body
{
	width: 100%;
	margin: 0;
    overflow-x: hidden; 
}

.body {
	margin-bottom: 50px;
}

.label p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform: uppercase;
	font-size: 2vw;
	float: left;
	padding: 1% 1% 1% 4%;
	text-align: center;
    background: #4CAF50;
    color: #fff;
}

@media (max-width: 767px) {
	.label p {
		font-size: 3vw !important;
	}
	
	.scrollable-menu {
		font-size: 2.5vw !important;
	}
	
	.leftTutButton, .rightTutButton {
		font-size: 2vw !important;
	}
	
	.dropdown-toggle {
		font-size: 2.5vw !important;
	}
}
/*--------------------------------------------------
BANNER
---------------------------------------------------*/
.banner {
	width: 100%;
}

/*--------------------------------------------------
NAVBAR
---------------------------------------------------
/* navbar */
.navbar-default {
	font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #4CAF50;
    border-color: #4CAF50;
	text-transform: uppercase;
	border-radius: 0;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
    }
}
/*--------------------------------------------------
FOOTER
---------------------------------------------------*/
.footer {
	background-color: #4CAF50;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	height: 50px;
	width: 100%;
	color: white;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 10px;
	height: auto;
	position: fixed;
	bottom: 0;
}

/*--------------------------------------------------
BLOCK
---------------------------------------------------*/
.itemBlock {
	border-color: #4CAF50;
	border-radius: 2%;
	display: inline-block;
	padding: 2%;
	margin: 2% 2% 2% 4%;
	border-style: groove;
}

.itemBlock .banner {
	float: left;
	width: 40%;
	display: inline-block;
}

.itemBlock .title {
	float: right;
	width: 60%;
	display: inline-block;
	text-align: center;
}

/*---------------------------------------------------
DROPDOWN MENU
----------------------------------------------------*/
.scrollable-menu {
    height: auto;
  	max-height: 200px;
    overflow-x: hidden;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size: 1vw;
}

.dropdown-toggle{
	background-color: #4CAF50;
	color: #fff;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	font-size: 1.5vw;
}

.dropdown-toggle:active {
	background-color: #4CAF50;
}

/*----------------------------------------------------
NEXT - PREVIOUS BUTTON
-----------------------------------------------------*/
.leftTutButton {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform: uppercase;
	font-size: 1vw;
	padding: 1% 1% 1% 1%;
	margin: 1.5% 0 1.5% 0;
	text-align: center;
    background: #4CAF50;
    color: #fff;
	float: left;
	text-decoration: none !important;
}

.rightTutButton {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-transform: uppercase;
	font-size: 1vw;
	padding: 1% 1% 1% 1%;
	margin: 1.5% 0 1.5% 0;
	text-align: center;
    background: #4CAF50;
    color: #fff;
	float: right;
	text-decoration: none !important;
}

/*------------------------------------------------------
TUT CONTENT
-------------------------------------------------------*/
.tutContent {
	width: 90%;
	margin: 1% 5% 1% 5%;
	text-align: justify;
}

.tutContent p {
	text-align: justify;
}