<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
	<link href="./login/loginStyle.css" rel="stylesheet">
	<script src="./javascript/angular.min.js" type="text/javascript"></script>	
	<script src="./javascript/jquery.min.js" type="text/javascript"></script>
	<script src="./javascript/ui-bootstrap-1.3.2.min.js" type="text/javascript"></script>
	  <script type="text/javascript" src="./javascript/spin.min.js"></script>
	  <script type="text/javascript" src="./javascript/ladda.min.js"></script>
	  <link href="./css/ladda-themeless.min.css" rel="stylesheet">

  </head>
  
  <body ng-controller="loginCtrl">
	<div class="container">
		<p style="color:red" ng-show="loggedOut">You are logged out!!!</p>
		<div class="row">
			<div class="col-sm-5" style="margin-left: 3%; margin-right: 3%">
				<div class="label row"><p>Register</p></div>
				<form class="form-signin" name="regForm">
					<div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
						<label>Email</label>
						<input type="email" name="regemail" class="form-control" ng-model="user.regemail">
						<p class="help-block" ng-show="regForm.regemail.$invalid">Enter a valid email.</p>
					</div> 
					<div class="form-group" ng-class="{ 'has-error' : regForm.password.$invalid }">
						<label>Password</label>
					   
						<input type="password" name="regpassword" class="form-control" ng-model="user.regpassword" ng-minlength="6">
						<p class="help-block" ng-show="regForm.regpassword.$error.minlength">Min password length is 6 characters.</p>
						<p style="color:red;" ng-show="regError">{{regErrorMessage}}</p>
					</div> 
					<br/>
					<button ladda-loading="register.loading" data-style="expand-right" type="button" ng-click="signUp();" ng-disabled="!user.regemail || !user.regpassword" class="btn btn-lg segoe-ui-light ladda-button btn-success btn-block">Register</button>
				</form>					
			</div>
			
			<div class="col-sm-5" style="margin-left: 3%; margin-right: 3%">
				<div class="label row"><p>Login</p></div>
				<form class="form-signin" name="signinForm" role="form">
					<div class="form-group" ng-class="{ 'has-error' : signinForm.email.$invalid }">
						<label>Email</label>
						<input type="email" name="logemail" class="form-control" ng-model="user.logemail">
						<p class="help-block" ng-show="signinForm.logemail.$invalid">Enter a valid email.</p>
					</div> 
				<div class="form-group" ng-class="{ 'has-error' : signinForm.logpassword.$invalid }">
					<label>Password</label>
						<input type="password" name="logpassword" class="form-control" ng-model="user.logpassword" ng-minlength="6">
						<p class="help-block" ng-show="signinForm.logpassword.$error.minlength">Min password length is 6 characters.</p>
						<p style="color:red;" ng-show="logError">{{logErrorMessage}}</p>
					</div>
					<br/>
					<button ladda-loading="login.loading" data-style="expand-right" ng-disabled="!user.logemail || !user.logpassword" type="button" ng-click="SignIn($event)" class="btn btn-lg segoe-ui-light ladda-button btn-success btn-block">SignIn</button>
				</form>					
			</div>
		</div>
	<div>
  </body>
  
</html>