/*-------------------------------------------------
DETAIL TOPIC INFO 
--------------------------------------------------*/
.detailInfo {
	display: inline-block;
}

.discussContent p {
	text-align: justify;
	word-wrap: break-word;
}